.faq-section {
  background-color: black;
  color: white;
  flex-direction: column;
  gap: 2rem;
}

.faq-section .faq-card {
  gap: 3rem;
  margin: 20px 30px;
}

h2 {
  font-size: 3rem;
  text-align: right;
}

.next-section {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
  font-size: 18px;
}

.next-section a {
  text-decoration: none;
  color: black;
}

.faq-cat {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}
